<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>template value</title>
  </head>
  <body>
    <div>
    {% if username %}
    <h1>Welcome {{ username }}</h1>
    {% elif users %}
      {% for username in users %}
    <h1>Welcome {{ username }}</h1>
      {% endfor %}
      {% else %}
    <h1>Hello</h1>
    {% endif %}
    </div>
  </body>
</html>